<aside class="side-content">
  <a href="/posts/create">Criar</a>
  <p class="about">Mussum Ipsum, cacilds vidis litro abertis. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>
  <div>
    <h3>Categorias</h3>
    <ul>
      <li><a href="#">Tecnica</a></li>
      <li><a href="#">Motivação</a></li>
    </ul>
  </div>
  <div>
    <h3>Data</h3>
    <ul>
      <li><a href="#">Janeiro</a></li>
      <li><a href="#">Fevereiro</a></li>
    </ul>
  </div>
</aside>
