{% extends 'layout.twig' %}

{% block body %}
  <main class="main-content">
    <form method="POST" action="/posts">
      <input type="text" name="slug" id="slug" placeholder="Slug" /><br /><br /><br />
      <input type="text" name="title" id="title" placeholder="Title" /><br /><br /><br />
      <textarea name="body" id="body" placeholder="Body"></textarea><br /><br /><br />

      <button>Salvar</button>
    </form>
  </main>
{% endblock %}
