$black = #000000
$gray = #6b6b6b
$darker = #6b6b82
$linkColor = #00B7FF

*
  margin: 0
  padding: 0
  box-sizing: border-box

:root
  font-size: 1rem

::-webkit-scrollbar
  display: none

html,
body
  width: 100%

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: $linkColor
  text-decoration: none

.navbar
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  padding: 1.3rem
  box-shadow: 0 0 10px 2px rgba($black, .2)

.navbar a
  font-size: 1.3rem
  color: $gray

.header
  display: flex
  align-items: center
  justify-content: center
  padding: 3rem 0
  border-bottom: 1px solid rgba($gray, .1)

.header h1
  font-size: 2.5rem
  color: $darker
  font-weight: 300

.container
  max-width: 800px
  width: 95%
  margin: 3rem auto
  display: flex

.main-content
  margin: 10px
  flex: 1

.post
  margin-bottom: 2rem

.post-title
  font-size: 2.3rem
  font-weight: 400

.post-date
  color: $gray
  font-size: .85rem
  font-weight: 400

.post-short
  margin: 1rem 0
  color: $darker
  text-align: justify

.post-actions
  text-align: right

.side-content
  margin: 10px
  width: 200px

.about
  color: $darker
  margin-bottom: 2rem
  text-align: justify
  line-height: 1.3

ul
  list-style: none
  margin: 1rem 0

ul li
  margin: .3rem 0

.footer
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  padding: 1.3rem

.footer p
  font-size: .85rem
  color: $gray


@media (max-width: 950px)
  .container
    flex-wrap: wrap
